body {
    padding: 0;
    margin: 0;
    font-family: "candara", "Helvetica Neue", sans-serif;
}
html, body, #mapPage, #map {
    height: 100%;
}
#infobox
{
    width: 200px;
    height: 50px;
    position:fixed;
    top: 12px;
    left:60px;
    background-color: rgba(0,0,0,0.8);
    color: #FFF;
    z-index:1000;
    font-size:20px;
    border-radius: 8px;
    padding: 8px;
}
#infobox a
{
    color: #FFF;
    text-decoration: none;
}
#infoextra
{
    padding-top:20px;
    padding-left:5px;
    font-size:10px;
}
.tweet {
    font-size: 11px;
}
.tweet .meta .author {
    font-size: 14px;
}
.tweet .meta .date{
    font-size: 12px;
}
.button {
    -moz-box-shadow: inset 0px 1px 0px 0px #fceaca;
    -webkit-box-shadow: inset 0px 1px 0px 0px #fceaca;
    box-shadow: inset 0px 1px 0px 0px #fceaca;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffce79), color-stop(1, #ffe174));
    background: -moz-linear-gradient(center top, #ffce79 5%, #ffe174 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffce79', endColorstr='#ffe174');
    background-color: #ffce79;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #eeb44f;
    display: inline-block;
    color: #ffffff;
    font-family: Verdana;
    font-size: 10px;
    font-weight: bold;
    padding: 6px 6px;
    text-decoration: none;
    text-shadow: 1px 1px 0px #ce8e28;
    cursor: pointer;
}
.button:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffe174), color-stop(1, #ffce79));
    background: -moz-linear-gradient(center top, #ffe174 5%, #ffce79 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe174', endColorstr='#ffce79');
    background-color: #ffe174;
}
.button:active {
    position: relative;
    top: 1px;
}
.ht
{
    font-size: 20px;
    cursor:pointer;
    color: #FFF;
}

.hton
{
    color:#ffe174;
}

#infomenu
{
    padding-left:10px;
}

.infomenu
{
    font-size:40px;
    padding-right:35px;
}

.extraHeader
{
    font-size: 20px;
    color:#ffe174;
}

.extraContent
{
    font-size: 12px;
}

.close
{
    font-size: 15px;
    width: 40px;
    border: 1px solid white;
    padding: 3px;
    cursor:pointer;
    background: #FFF;
    color: #000;
}