body {
    padding: 0;
    margin: 0;
    font-family: "Maven Pro", "Helvetica Neue", sans-serif;
}
html, body, #mapPage, #map {
    height: 100%;
}

#infobox
{
    width: 226px;
    position:fixed;
    top: 12px;
    left:60px;
    background-color: rgba(0,0,0,1.0);
    color: #FFF;
    z-index:1000;
    font-size:20px;
    border-radius: 4px;
    height:auto;
}


#infoextra
{

    font-size: 10px;
    padding: 0px 8px 0px 12px;
    width:206px;
    background-color:#000;
    border-radius:0px 0px 5px 5px;
}

#infomenu
{
    border-bottom: 1px solid #4D4D4D;
}

ul.button {
    background-image: linear-gradient(bottom, rgb(34,34,34) 8%, rgb(54,54,54) 77%);
    background-image: -o-linear-gradient(bottom, rgb(34,34,34) 8%, rgb(54,54,54) 77%);
    background-image: -moz-linear-gradient(bottom, rgb(34,34,34) 8%, rgb(54,54,54) 77%);
    background-image: -webkit-linear-gradient(bottom, rgb(34,34,34) 8%, rgb(54,54,54) 77%);
    background-image: -ms-linear-gradient(bottom, rgb(34,34,34) 8%, rgb(54,54,54) 77%);
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.08, rgb(34,34,34)),color-stop(0.77, rgb(54,54,54)));
    border: 1px solid #222222;
    border-radius: 4px 4px 0px 0px;
    box-shadow: 0 1px 0 0 #4D4D4D inset;
    display: block;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
ul.button li {
    float: left;
    list-style: none outside none;
}

ul.button a {
    border-left: 1px solid #4D4D4D;
    border-right: 1px solid #111111;
    color: #FFFFFF;
    display: block;
    font-family: 'Maven Pro', sans-serif;
    font-size: 13px;
    padding: 8px 16px;
    text-decoration: none;
    text-shadow: 0 1px 0 #000000;
}

ul.button li a:hover {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.1);
}

.marginbot
{
    clear:both;
    min-height: 5px;
}

.ht
{
    font-size: 18px;
    font-family:'Maven Pro', sans-serif;
    margin-bottom:2px;
    cursor:pointer;
    color: #FFF;
}



.hton
{
    font-size: 18px;
    color:#ffe174;
}

.htoninfo
{
    font-size: 15px;
    color:#ffe174;
}



.extraHeader
{
    font-size: 20px;
    color:#ffe174;
}

.extraContent
{
    font-size: 12px;
}



.picture{
    margin-right:5px;
    float:left;

}

.tweet .author {
    font-size: 16px;
    font-weight: bold;
    font-family: 'Maven Pro', sans-serif;
    color:#FFF;
    clear:right;

}

.tweet .nick {
    margin-bottom:3px;
}
.tweet .nick a {
    color: #FFE174;
    clear:both;
    font-size: 13px;
    font-family: 'Maven Pro', sans-serif;
    text-decoration:none;

}

.date {
    color:#888;
    font-size: 11px;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration:none;

}
.botonera{
    margin-top:8px;
    font-family: 'Maven Pro', sans-serif;
    clear:both;
    background: none repeat scroll 0 0 #FFFFFF;
}

.checkin {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid white;
    color: #000000;
    cursor: pointer;
    float: left;
    font-size: 11px;
    margin-bottom: 8px;
    margin-top: 8px;
    padding: 3px;
    width: 45px;
    border-radius: 3px;
    text-align: center;
}

.mapping {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid white;
    color: #000000;
    cursor: pointer;
    float: left;
    font-size: 11px;
    margin-bottom: 8px;
    margin-left: 10px;
    margin-top: 8px;
    padding: 3px;
    width: 45px;
    border-radius: 3px;
    text-align: center;
}

.close {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid white;
    color: #000000;
    cursor: pointer;
    float: left;
    font-size: 11px;
    margin-bottom: 8px;
    margin-left: 10px;
    margin-top: 8px;
    padding: 3px;
    width: 45px;
    border-radius: 3px;
    text-align: center;
}

.closeup {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid white;
    color: #000000;
    cursor: pointer;
    float: left;
    font-size: 11px;
    margin-bottom: 8px;
    margin-left: 0px;
    margin-top: 0px;
    padding: 3px;
    width: 45px;
    border-radius: 3px;
    text-align: center;
}


#checkinsCount {
    color:#FFF;
    font-size: 13px;
    font-family:'Maven Pro', sans-serif;
    margin-bottom:2px;
}

.tweet .tweetText {
    color: #FFE174;
    font-size: 13px;
    font-family:'Maven Pro', sans-serif;
    margin-bottom:2px;
}

.tweet .tweetText a{
    color: #888;
    font-size: 13px;
    font-family:'Maven Pro', sans-serif;
}

.closeleft{
    font-size:11px;
    font-family: 'Maven Pro', sans-serif;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid white;
    color: #000000;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 0;
    padding: 3px;
    width: 45px;
    border-radius: 3px;
    text-align: center;



}

.leaflet-container a {
    color: #000;
}